$font-family: inter, system-ui, avenir, helvetica, arial, sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$color-light: rgb(255 255 255 / 87%);
$color-dark: #242424;
$color-link: #646cff;
$color-link-hover: #535bf2;
$color-link-hover-light: #747bff;
$color-button-bg: #1a1a1a;
$color-button-bg-light: #f9f9f9;
$color-text-light: #213547;
$color-bg-light: #fff;

:root {
  font-family: $font-family;
  font-weight: $font-weight-normal;
  line-height: 1.5;
  color: $color-light;
  color-scheme: light dark;
  background-color: $color-dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: $font-weight-medium;
  color: $color-link;
  text-decoration: inherit;

  &:hover {
    color: $color-link-hover;
  }
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-family: inherit;
  font-size: 1em;
  font-weight: $font-weight-medium;
  cursor: pointer;
  background-color: $color-button-bg;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color 0.25s;

  &:hover {
    border-color: $color-link;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $color-text-light;
    background-color: $color-bg-light;
  }

  a:hover {
    color: $color-link-hover-light;
  }

  button {
    background-color: $color-button-bg-light;
  }
}
